<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>

    </style>
</head>
<body>
    <div style="background-color: antiquewhite; ">
        <h2 class="col d-flex justify-content-center p-5">What Needs to be Updated?</h2>
        <div class="col d-flex justify-content-center">
            <a class="px-3" href="/edit_wood_projects"><button>Wood Projects</button></a>
            <a class="px-3" href="/edit_web_projects"><button>Web Projects</button></a>
        </div>
        <h3 class="col d-flex justify-content-center p-5">
            <a class="px-1" href="/logout">Log Out</a> | 
            <a class="px-1" href="/new_project">New Project</a>
        </h3>
    </div>
</body>
</html>