<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        body {
            color:white;
        }
        a {
            color:greenyellow
        }
    </style>
</head>
<body>
    <div class="bg-img" style="background-image: url(static/wood_background.jpeg); min-height: 1000px;">
        <h2 class="col d-flex justify-content-center p-5">Skills</h2>
        <p class="col d-flex justify-content-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi commodi quisquam dolor debitis sint dolore? </p>
        <p class="col d-flex justify-content-center">Sint, voluptates? Necessitatibus, officiis quibusdam libero laborum sint repellendus, est nisi, atque modi quia ab?</p>
        <p class="col d-flex justify-content-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi commodi quisquam dolor debitis sint dolore? </p>
        <p class="col d-flex justify-content-center">Sint, voluptates? Necessitatibus, officiis quibusdam libero laborum sint repellendus, est nisi, atque modi quia ab?</p>
        <h3 class="col d-flex justify-content-center p-5">
            <a class="px-1" href="/">Home</a> | <a class="px-1" href="/projects">Projects</a> | Skills | <a class="px-1" href="/contact">Contact</a> | <a class="px-1" href="/admin">Admin</a>
        </h3>
    </div>

</body>
</html>